<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Custom Css -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
<main class="main-login">
    <h1 class="">logIn</h1>
    <form class="form-login" action="/login" method="post">
     
        <label for="username">Identificacion</label>
        <input class="inp-identidad item-primary" id="username" name="username" type="text" required>    
                  
        <label for="password">Contraseña</label>
        <input class="inp-password item-primary" id="password" name="password" type="password"  placeholder="Contraseña" required>
            
        <section class="section-floating">
            <div class="section-recordar">
                <input class="check-recordar" name="remember-checkbox" type="checkbox">
                <label class="lbl-recordar" for="remember-checkbox">
                    Recuerdame
                </label>     
            </div>

            <div class="section-recuperar">
                <a href="">olvide mi contraseña</a>
            </div>
        </section>

        <button type="submit" class="btn-iniciar_sesion">Iniciar sesión</button>
    </form>
    
</main>
</body>
</html>