<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Custom Css -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<main class="main-login">

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class="flash-message {{ category }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% block main %}
    
    {% endblock %}
    <h1 class="">logIn</h1>
    <form class="form-login" action="{{ url_for('auth_scope.login') }}" method="post">
        <label for="username">Identificacion</label>
        <input class="inp-identidad item-primary" id="user_id" name="user_id" type="number" required autocomplete="off">    
                  
        <label for="password">Contraseña</label>
        <input class="inp-password item-primary" id="user_password" name="user_password" type="password" required autocomplete="off">
        <button type="button" onclick="viewPassword()">Ver</button>

        <button type="submit" class="btn-iniciar_sesion">Iniciar sesión</button>
    </form>
    
</main>

<script>
    function viewPassword() {
        var input = document.getElementById("user_password");
        if (input.type === "password"){
            input.type = "text";
        }
        else {
            input.type = "password"
        }
    } 
</script>

</body>
</html>