{% extends './layout.html' %}

{% block blockTitle %}Mi perfil - Editar{% endblock %}

{% block customCss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/producto.css') }}">
{% endblock %}

{% block main %}
<main class="main">
    <section class="section-productos">
        <h1>Cambio de contraseña - ({{ operador.user_id }}) {{ operador.user_nombre }} {{ operador.user_apellido }}</h1>
        <form class="frm-productos" action="{{ url_for('perfil_scope.update_password_usuario', id=operador.user_id) }}"
            method="post">

            <label class="lbl-descripcionProducto" for="operador_old_contrasenha">Actual contraseña</label>
            <input class="inp-descripcionProducto" id="operador_old_contrasenha" name="operador_old_contrasenha"
                type="text" required>

            <label class="lbl-descripcionProducto" for="operador_contrasenha">Nueva contraseña</label>
            <input class="inp-descripcionProducto" id="operador_contrasenha" name="operador_contrasenha" type="text"
                required>

            <label class="lbl-descripcionProducto" for="operador_confirma_contrasenha">Confirma la nueva
                contraseña</label>
            <input class="inp-descripcionProducto" id="operador_confirma_contrasenha"
                name="operador_confirma_contrasenha" type="text" required>

            <p id="mensaje"></p>

            <button class="btn proveedor-buttons_cargar" id="operador_submit" type="submit">Editar</button>
        </form>
    </section>

    <div class="action-buttons">
        <a href=" {{ url_for('perfil_scope.perfil') }}" class="btn btn-primary">Volver</a>
    </div>
</main>


{% block customScript %}
<script>
    var passwordInput = document.getElementById("operador_contrasenha");
    var confirmPasswordInput = document.getElementById("operador_confirma_contrasenha");
    var submitButton = document.getElementById("operador_submit");
    var mensaje = document.getElementById("mensaje");

    function validarContraseñas() {
        var password = passwordInput.value;
        var confirmPassword = confirmPasswordInput.value;

        if (password === confirmPassword) {
            mensaje.innerHTML = "";
            submitButton.disabled = false; // Habilitar el botón de envío
        } else {
            mensaje.innerHTML = "Las contraseñas no coinciden.";
            submitButton.disabled = true; // Deshabilitar el botón de envío
        }
    }

    passwordInput.addEventListener("input", validarContraseñas);
    confirmPasswordInput.addEventListener("input", validarContraseñas);

</script>
{% endblock %}
{% endblock %}