{% extends './layout.html' %}

{% block blockTitle %}Mi perfil - Editar{% endblock %}

{% block main %}
<main class="p-1 p-md-3">
    <section class="section p-3">
        <div class="row slc-container">
            <h1>Editar producto</h1>
            <form class="frm-productos" action="{{ url_for('perfil_scope.update_perfil', id=usuario.user_id) }}"
                method="post">
                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="user_nombre">Nombre</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="user_nombre" name="user_nombre"
                    type="text" value="{{ usuario.user_nombre }}" required required autocomplete="off">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="user_apellido">Apellido</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="user_apellido" name="user_apellido"
                    type="text" value="{{ usuario.user_apellido }}" required required autocomplete="off">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="user_email">Correo electrónico</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="user_email" name="user_email" type="text"
                    value="{{ usuario.user_email }}" required required autocomplete="off">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="user_telefono">Número de telefono</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="user_telefono" name="user_telefono"
                    type="number" value="{{ usuario.user_telefono }}" required required autocomplete="off">

                <div class="row justify-content-between">
                    <button class="col-5 col-md-2 button-action-second" type="button"
                        onclick="redirectPague('/perfil')">Volver</button>
                    <button class="col-5 col-md-2 button-action" type="submit">Editar</button>
                </div>
            </form>
        </div>

    </section>


</main>

{% endblock %}