{% extends './layout.html' %}

{% block blockTitle %}Mi perfil - Editar{% endblock %}

{% block customCss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/producto.css') }}">
{% endblock %}

{% block main %}
<main class="main">
    <section class="section-productos">
        <h1>Editar producto</h1>
        <form class="frm-productos" action="{{ url_for('perfil_scope.update_perfil', id=usuario.user_id) }}"
            method="post">
            <label class="inp-descripcionProducto" for="user_nombre">Nombre</label>
            <input class="inp-descripcionProducto" id="user_nombre" name="user_nombre" type="text"
                value="{{ usuario.user_nombre }}">

            <label class="lbl-descripcionProducto" for="user_apellido">Apellido</label>
            <input class="inp-descripcionProducto" id="user_apellido" name="user_apellido" type="text"
                value="{{ usuario.user_apellido }}">

            <label class="lbl-descripcionProducto" for="user_email">Correo electrónico</label>
            <input class="inp-descripcionProducto" id="user_email" name="user_email" type="text"
                value="{{ usuario.user_email }}">

            <label class="lbl-descripcionProducto" for="user_telefono">Número de telefono</label>
            <input class="inp-descripcionProducto" id="user_telefono" name="user_telefono" type="number"
                value="{{ usuario.user_telefono }}"> 

            <button class="btn proveedor-buttons_cargar" type="submit">Guardar cambios</button>
        </form>
    </section>

    <div class="action-buttons">
        <a href=" {{ url_for('perfil_scope.perfil') }}" class="btn btn-primary">Volver</a>
    </div>
</main>

{% endblock %}