{% extends './layout.html' %}

{% block blockTitle %}Productos - Crear{% endblock %}

{% block main %}
<main class="p-1 p-md-3">
    <section class="section p-3">
        <div class="row slc-container">
            <h1>Nuevo Producto</h1>
            <form class="col-12 d-block" action="{{ url_for('producto_scope.create_producto') }}" method="post">
                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="producto_descripcion">Descripcion</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="producto_descripcion"
                    name="producto_descripcion" type="text" required autocomplete="off">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="producto_categoria">Categoria</label>
                <select class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="producto_categoria" name="producto_categoria">
                    <option value="1">Refrigerado</option>
                    <option value="2">Congelado</option>
                    <option value="3">Seco</option>
                </select>

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="producto_precio">Precio(en venta)</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="producto_precio" name="producto_precio"
                    type="number" placeholder="COP" required autocomplete="off">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="producto_medida">Unidad de Medida</label>
                <select class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="producto_medida" name="producto_medida"
                    required>
                    <option value="Kilogramo">Kilogramo</option>
                    <option value="Gramo">Gramo</option>
                    <option value="Litro">Litro</option>
                    <option value="Mililitro">Mililitro</option>
                    <option value="Unidad">Unidad</option>
                </select>

                <div class="row justify-content-between">
                    <button class="col-5 col-md-2 button-action-second" type="button"
                        onclick="redirectPague('/productos')">Volver</button>
                    <button class="col-5 col-md-2 button-action" type="submit">Crear</button>
                </div>
            </form>
        </div>
    </section>


</main>

{% endblock %}