<div id="genericModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="infoModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modal-title">Detalles de Producto</h2>
        <h2 id="modal-subtitle"></h2>
        <div id="modal-body">
            <ul>
                <li>
                    <strong>Id del Producto:</strong> <span id="modal-prod-id"></span>
                </li>
                <li>
                    <strong>Descripcion:</strong> <span id="modal-prod-descripcion"></span>
                </li>
                <li>
                    <strong>Categoria:</strong> <span id="modal-prod-categoria"></span>
                </li>
                <li>
                    <strong>Unidad de Medida:</strong> <span id="modal-prod-medida"></span>
                </li>
                <li>
                    <strong>Precio de Venta:</strong> <span id="modal-prod-precio"></span>
                </li>
                <li>
                    <strong>Estado:</strong> <span id="modal-prod-estado"></span>
                </li>
                <li>
                    <strong>Stock de Producto:</strong> <span id="modal-prod-stock"></span>
                </li>
            </ul>
        </div>
    </div>
</div>