{% extends './layout.html' %}

{% block customCss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/factura.css') }}">
{% endblock %}

{% block main %}
<main class="main">
    <section class="section-misFacturas">
        <h1>Buscar facturas</h1>
        <form class="frm-misFacturas">
            <label class="lbl-misFacturas" for="slc-misFacturas">Tipo de factura</label>
            <select name="prueba" class="slc-misFacturas" id="slc-misFacturas" onchange="window.location.href=this.value">
                <option value="">No definida</option>
                <option value="/facturas/factura_proveedor">Proveedor</option>
                <option value="/facturas/factura_cliente">Cliente</option>
            </select>
        </form>
    </section>
</main>
{% endblock %}
