{% extends './layout.html' %}

{% block customCss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/factura.css') }}">
{% endblock %}

{% block main %}
<main class="main">
    <section class="section-misFacturas">
        <h1>Facturas</h1>
        <form class="frm-misFacturas">
            <label class="lbl-misFacturas" for="select_factura">Seleccionar tipo de factura:</label>
            <select  id="select_factura" onchange="redirect_factura()">
                <option value="" selected disabled>Seleccione una factura</option>
                <option value="facturas_proveedor">Facturas de proveedor</option>
                <option value="facturas_cliente">Facturas de cliente</option>
            </select>
        </form>
    </section>
</main>

{% block customScript %}
<script>
    function redirect_factura() {
        const select = document.getElementById('select_factura');
        const selectedValue = select.value;
        if (selectedValue) {
            window.location.href = `/${selectedValue}`;
        }
    }
</script>
{% endblock %}
{% endblock %}
