{% extends './layout.html' %}

{% block customCss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/factura.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/modals.css') }}">
{% endblock %}

{% block main %}
<main class="main">
    <section class="section-misFacturas">
        <h1>Buscar facturas</h1>
        <form class="frm-misFacturas" method="post">
            <div class="section-froms">
                <label  class="lbl-IDfactura_proveedor" for="inp-IDfactura_proveedor">Numero factura</label>
                <input class="inp-IDfactura_proveedor" id="inp-IDfactura_proveedor" type="text">

                <label  class="lbl-IDcliente_proveedor" for="inp-IDcliente_proveedor">ID proveedor</label>
                <input class="inp-IDcliente_proveedor" id="inp-IDcliente_proveedor" type="text">
                
                <label class="lbl-fechaIngreso_proveedor" for="inp-fechaIngreso_proveedor">Fecha de ingreso</label>
                <input class="inp-fechaIngreso_proveedor" id="inp-fechaIngreso_proveedor" type="date" name="">
            </div>
            <div class="section-buttons">
                <button class="btn btn-proveedor btn-proveedor_filtra">Filtra</button>
            </div>
        </form>

        <h1>Relacion de facturas</h1>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Numero factura</th>
                        <th>Id proveedor</th>
                        <th>Proveedor</th>
                        <th>Fecha de entrada</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if list_entradas %}
                        {% for entrada in list_entradas %}
                            <tr>
                                <td> {{ entrada.0 }}</td>
                                <td> {{ entrada.1 }}</td>
                                <td> {{ entrada.2 }}</td>
                                <td> {{ entrada.3 }}</td>
                                <td>
                                    <button onclick="view_modal('Factura: {{ entrada.0 }}')">Ver</button>
                                    <!-- open modal views faturas proveedor -->
                                    {% include "factura/factura_proveedor/factura_proveedor_view.html" %}
                                    <button onclick="deleteElement('{{ entrada.0 }}');">Eliminar</button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>No hay faturas para mostrar</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <h1>{{ list_products | safe }}</h1>

    </section>
</main>
<footer class="footer">
    <form action="{{ url_for('factura_scope.factura_volver') }}" method="POST">
        <button type="submit" class="btn btn-primary">Volver</button>
    </form>
</footer>

{% block customScript %}
<script>
    function deleteElement(id) {
        if (confirm(`La factura ${id} esta por ser eliminada, deseas eliminarla`)){
            let url = `factura_proveedor_delete/${id}`;
            if (url) {
                window.location.href = url
            } 
        }
    }
</script>    

{% endblock %}

{% endblock %}