<div id="genericModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="infoModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modal-title">Detalle de Factura</h2>
        <h2 id="modal-subtitle"></h2>
        <div id="modal-body">
            <ul>
                <li>
                    <strong>Id de Entrada:</strong> <span id="modal-ent-id"></span>
                </li>
                <li>
                    <strong>Id del Proveedor:</strong> <span id="modal-ent-provedorId"></span>
                </li>
                <li>
                    <strong>Proveedor:</strong> <span id="modal-ent-proveedor"></span>
                </li>
                <li>
                    <strong>Fecha de Ingreso:</strong> <span id="modal-ent-fecha"></span>
                </li>
            </ul>

            <h1>Tabla de Productos</h1>
            <div class="table-wrapper">
                <table id="productos-table" border="1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Unidad</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>