<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none icon-fajuu">
                <img width="30" height="30" src="{{ url_for('static', filename='img/fajuu-logo.png') }}" alt="">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-white">Entrada</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Salida</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Productos</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Facturas</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Usuario</a></li>
            </ul>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ url_for('static', filename='img/profile-default.png') }}" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" style>
                    <li><a class="dropdown-item" href="#">Ayuda</a></li>
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Salir</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>