
<header class="header d-none d-md-flex container-fluid">
    <div class="header_title col-md-6 col-xxl-8">
        <a class="header-titles" href="{{ url_for('auth_scope.admin_home') }}">
            <strong>Fajuu</strong>
        </a>
    </div>
    <div class="header_links col-md-6 col-xxl-4 row">
        <button onclick="redirectPague('/ayuda')" class="button-second col-md-2 col-lg-3">Ayuda</button>
        <button onclick="redirectPague('/perfil')" class="button-second col-md-2 col-lg-3">Perfil</button>
        <button onclick="redirectPague('/logout')" class="button-first col-md-2 col-lg-3">Cerrar</button>
    </div>
</header>

{% if session.get('user_rol') == 1 %}
<nav class="navbar navbar-expand-md mb-4 p-0">
    <div class="container-fluid">
        <header class="container d-flex justify-content-between d-md-none navbar-brand m-0">
            <a class="header-titles" href="{{ url_for('auth_scope.admin_home') }}">
                <strong>Fajuu</strong>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <img src="{{ url_for('static', filename='img/menu_item.png') }}" width="25rem">
            </button>
        </header>

        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
            <ul class="navbar-nav me-auto mb-2 mb-md-0 col-12 row">
                <li class="col-md nav-item">
                    <a class="nav-link" href="{{ url_for('entrada_scope.entrada') }}">Entrada</a>
                </li>
                <li class="col-md nav-item">
                    <a class="nav-link" href="{{ url_for('salida_scope.salida') }}">Salida</a>
                </li>

                <li class="col-md nav-item">
                    <a class="nav-link" href="{{ url_for('producto_scope.producto') }}">Productos</a>
                </li>

                <li class="col-md nav-item">
                    <a class="nav-link" href="{{ url_for('factura_scope.factura') }}">Facturas</a>
                </li>

                <li class="col-md nav-item">
                    <a class="nav-link" href="{{ url_for('usuario_scope.usuario') }}">Usuarios</a>
                </li>
                <li class="col-md nav-item d-md-inline d-md-none">
                    <a class="nav-link"  href="{{ url_for('perfil_scope.perfil') }}">Perfil</a>
                </li>
            </ul>
            <div class="d-md-flex d-md-none col-12 row p-2 justify-content-around">
                <button onclick="redirectPague('/ayuda')" class="button-second col-5">Ayuda</button>
                <button onclick="redirectPague('/logout')" class="button-first col-5">Cerrar</button>
            </div>
        </div>
    </div>
</nav>


{% else %}

<nav class="navbar navbar-expand-md mb-4 p-0">
    <div class="container-fluid">
        <header class="container d-flex justify-content-between d-md-none navbar-brand m-0">
            <a class="header-titles" href="{{ url_for('auth_scope.admin_home') }}">
                <strong>Fajuu</strong>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <img src="{{ url_for('static', filename='img/menu_item.png') }}" width="25rem">
            </button>
        </header>

        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
            <ul class="navbar-nav me-auto mb-2 mb-md-0 col-12 row">
                <li class="col-md nav-item">
                    <a class="nav-link" href="{{ url_for('entrada_scope.entrada') }}">Entrada</a>
                </li>
                <li class="col-md nav-item">
                    <a class="nav-link" href="{{ url_for('salida_scope.salida') }}">Salida</a>
                </li>
                <li class="col-md nav-item">
                    <a class="nav-link" href="{{ url_for('producto_scope.producto') }}">Productos</a>
                </li>
                <li class="col-md nav-item">
                    <a class="nav-link" href="{{ url_for('factura_scope.factura') }}">Facturas</a>
                </li>
                <li class="col-md nav-item d-md-inline d-md-none">
                    <a class="nav-link"  href="{{ url_for('perfil_scope.perfil') }}">Perfil</a>
                </li>
            </ul>
            <div class="d-md-flex d-md-none col-12 row p-2 justify-content-around">
                <button onclick="redirectPague('/ayuda')" class="button-second col-5">Ayuda</button>
                <button onclick="redirectPague('/logout')" class="button-first col-5">Cerrar</button>
            </div>
        </div>
    </div>
</nav>

{% endif %}


