<header>
    <div>
        <div>Logo faju</div>
        <div>
            <button>Ayuda</button>
            <form action="{{ url_for('auth_scope.logout')}}"><button type="submit">Cerrar Sesión</button></form>
        </div>
    </div>
</header>
<div>
    <nav> 
        <a href="{{ url_for('entrada_scope.entrada') }}">Entrada</a>
        <a href="{{ url_for('salida_scope.salida') }}">Salida</a>
        <a href="{{ url_for('producto_scope.producto') }}">Productos</a>
        <a href="{{ url_for('factura_scope.factura') }}">Facturas</a>
        <a href="{{ url_for('usuario_scope.usuario') }}">Usuarios</a>
        <a href="{{ url_for('perfil_scope.perfil') }}">Mi perfil</a>
    </nav>
</div>
