<div id="delete_modal" class="modal">
    <div class="modal-content">
        <span class="close delete_modal_close">&times;</span>
        <h5 class="modal-title" id="deleteModalLabel">Confirmar eliminación</h5>
        <div id="modal-body">
            <p>¿Estás seguro de que deseas eliminar este elemento?</p>
            <div>
                <form id="delete_form" method="POST">
                    <button type="button" id="close_button">Cancelar</button>
                    <button type="submit">Eliminar</button>
                </form>   
            </div>
        </div>
    </div>
</div>