<div id="delete_modal" class="modal">
    <div class="modal-content">
        <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
        <span class="close delete_modal_close d-none">&times;</span> 
        <div id="modal-body">
            <p>¿Estás seguro de eliminar este elemento?</p>
            <div>
                <form class="col-12 d-flex justify-content-between row m-0 p-1" id="delete_form" method="POST">
                    <button class="col-5 button-action-second" type="button" id="close_button">Cancelar</button>
                    <button class="col-5 button-action" type="submit">Eliminar</button>
                </form>   
            </div>
        </div>
    </div>
</div>