.section-entradas{
    background-color: var(--color-white);
    padding: 1rem;
}
.section-entradas h1{
    background-color: var(--color-blue-dark);
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 100;
}
.section-entradas label{
    color: var(--color-blue-dark);
    width: 30%;
}
.section-entradas select{
    background-color: var(--color-blue-dark);
    color: var(--color-white);
    width: 40%;
    height: 1.5rem;
    margin: 0 3rem;
}
.section-entradas form{
    padding: .5rem 0;
}
.section-entradas input{
    border: 2px solid var(--color-blue-dark);
    width: 40%;
    height: 1.5rem;
    margin: 0 3rem ;
} 

/* FACTURAS FACTURAS FACTURAS FACTURAS */

.section-fatura{
    display: flex;
    justify-content: space-between;
}
.frm-factura{
    width: 50%;
    display: flex;
    align-items: center;
}
.factura-buttons{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.factura-buttons_cargarFactura{
    background-color: var(--color-orange-dark);
    color: var(--color-white);
    width: 30%;
    height: 1.5rem;
}
.factura-buttons p{
    color: var(--color-blue-light);
}

/* PRODUCTOS PRODUCTOS PRODUCTOS PRODUCTOS  */

.section-producto{
    display: flex;
    justify-content: space-between;
}
.frm-producto{
    width: 50%;
}
.productos-informacion{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
}
.proveedor-buttons{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.proveedor-buttons_cargar{
    width: 30%;
    height: 2rem;
    color: var(--color-white);
    background-color: var(--color-orange-dark);
}


