header {
    background-color: var(--color-green-light);
    color: #fff;
}
.form-control-dark {
    border-color: var(--bs-gray);
}
.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}
  
.text-small {
    font-size: 85%;
}
  
.dropdown-toggle:not(:focus) {
    outline: 0;
}
.info-perfil{
    position: absolute; 
    inset: auto auto 0px 0px; 
    margin: 0px; 
    transform: translate(0px, -34px);
}
.icon-fajuu {
    padding: 0 1rem;
}
  