.header {
    background-color: var(--color-blue-dark);
    padding: .5rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.header_title {
    display: flex;
}

.header-titles{
    color: var(--color-white);
    font-size: 32px;
    margin: 0 .5rem
}

.header_links {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: end;
}

.header_links button {
    margin: 0 .8rem;
    font-size: 16px;
}

.navbar-collapse {
    align-items: center;
    width: 100%;
}

.navbar {
    background-color: var(--color-blue-dark);
    -webkit-box-shadow: inset 0px 5px 10px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 5px 10px -6px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 5px 10px -6px rgba(0, 0, 0, 0.75);
}

a.nav-link {
    text-align: center;
    color: var(--color-white)
}

.dark {
    color: var(--color-white);
    font-variation-settings: 'GRAD' -25;
}