
.section-home{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section-home h1{
    font-size: 15rem;
    font-family: 'Righteous', cursive;
    color: var(--color-green-dark);
}
.section-home h1:hover{
    color: var(--color-orange-dark);
}
.section-home h2{
    font-size: 7rem;
    font-family: 'Righteous', cursive;
    color: var(--color-green-light);
}
.section-home h2:hover{
    color: var(--color-orange-light);
}
