body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-login{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main-login h1{
    font-weight: 600;
}
.lbl-login{
    color: var(--color-blue-dark);
    font-size: .8rem;
    font-weight: 500;
}
.inp-login{
    background-color: var(--color-white);
    border-radius: 10px;
    border: 1px solid var(--color-blue-dark);
}
.inp-login button, input{
    background-color: transparent;
    border: none;
    outline: none;
}
.inp-login button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-login{
    background-color: var(--color-blue-dark);
    color: var(--color-white);
    border-radius: 10px;
}