@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    /* colores */
    --color-grey-dark: #BBBB;
    --color-grey: #EEEEEE;
    --color-white: #FFFFFF;
    --color-blue-dark: #111926;
    --color-yellow: #FFD166;
}
*{
  box-sizing: border-box;
  border: 0;
  margin: 0;
  text-decoration: none !important;
  list-style: none !important;
}
html,body{
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-grey);
}
h1{
  font-size: 2rem;
}

/* Estilos botones e interactuadores */

.button-first{
  background-color: var(--color-white);
  border-radius: 5px;
  color: var(--color-blue-dark);
  padding: .1rem;
  height: 2rem;
  font-weight: 500;
}
.button-second{
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid var(--color-white);
  color: var(--color-white);
  padding: .1rem;
  height: 2rem;
  font-weight: 500;
}
.button-action{
  background-color: var(--color-blue-dark);
  border-radius: 5px;
  color: var(--color-white);
  padding: .1rem;
  height: 2rem;
  font-weight: 500;
}
.button-action-second{
  background-color: transparent;
  border: 2px solid var(--color-blue-dark);
  border-radius: 5px;
  color: var(--color-blue-dark);
  padding: .1rem;
  height: 2rem;
  font-weight: 500;
}
.input-first{
  background-color: var(--color-grey);
  border-radius: 5px;
  padding: .1rem;
  height: 2rem;
  color: var(--color-blue-dark);
}
.anchor-action{
  color: #CCCC;
  cursor: pointer;
}

/* Estilos generales  */

.section{
  background-color: var(--color-white);
  border-radius: 10px;
}

.slc-container{
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frm-search{
  display: flex;
  align-items: center;
}
.frm-search h1 {
  font-size: 1.5rem;
  margin: 0 !important;
}

#mensaje{
  color: var(--color-yellow);
}


/* estilos de tabla */

.table-wrapper {
  width: 100%;
  max-height  : 28rem;
  overflow: auto;
  margin: .5rem 0; 
}

.table-wrapper table {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0;
}

.table-wrapper table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

thead th{
  background-color: #111926;
  color: var(--color-white);
  font-weight: 500;
  text-align: center;
}

thead th:first-child {
  border-top-left-radius: 10px;
}

thead th:last-child {
  border-top-right-radius: 10px;
  border-left: 2px solid #DDDDDD;
}

th, td {
  padding: .5rem;
  text-align: left;
}

.table-wrapper tbody td{
  text-align: center;
  height: 2rem;
}

tbody tr:nth-child(odd) {
  background-color: #F2F2F2;
}

tbody tr:nth-child(even) {
  background-color: #FFFFFF;
}
tbody td:last-child {
  border-left: 3px solid #DDDDDD;
}

.btn_table{
  background-color: transparent;
  border: none;
}