{% extends './layout.html' %}

{% block customCss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/factura.css') }}">
{% endblock %}

{% block main %}
<main class="main">
    <section class="section-misFacturas">
        <h1>Usuarios</h1>
        <form class="frm-misFacturas">
            <label for="select_usuario">Seleccionar tipo de usuario:</label>
            <select id="select_usuario" onchange="redirect_usuario()">
                <option value="" selected disabled>Seleccione un usuario</option>
                <option value="operador">Operador</option>
                <option value="proveedor">Proveedor</option>
                <option value="cliente">Cliente</option>
            </select>
        </form>
    </section>
</main>

{% block customScript %}
<script>
    function redirect_usuario() {
        const select = document.getElementById('select_usuario');
        const selectedValue = select.value;
        if (selectedValue) {
            window.location.href = `/${selectedValue}`;
        }
    }
</script>
{% endblock %}
{% endblock %}
