<div id="genericModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="infoModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modal-title">Detalles de producto</h2>
        <h2 id="modal-subtitle"></h2>
        <div id="modal-body">
            <ul>
                <li>
                    <strong>Id cliente:</strong> <span id="modal-clien-id"></span>
                </li>
                <li>
                    <strong>Identificacion:</strong> <span id="modal-clien-documento"></span>
                </li>
                <li>
                    <strong>Nombre(s):</strong> <span id="modal-clien-nombre"></span>
                </li>
                <li>
                    <strong>Ciudad:</strong> <span id="modal-clien-ciudad"></span>
                </li>
                <li>
                    <strong>Direccion:</strong> <span id="modal-clien-direccion"></span>
                </li>
                <li>
                    <strong>Correo electronico:</strong> <span id="modal-clien-email"></span>
                </li>
                <li>
                    <strong>Telefono:</strong> <span id="modal-clien-telefono"></span>
                </li>
                <li>
                    <strong>Estado:</strong> <span id="modal-clien-estado"></span>
                </li>
            </ul>
        </div>
    </div>
</div>