{% extends './layout.html' %}

{% block blockTitle %}Clientes{% endblock %}

{% block main %}


<main class="p-1 p-md-3">
    <section class="section p-3">
        <div class="row slc-container">
            <form class="frm-search row col-12 col-lg-10 p-0" action="{{ url_for('cliente_scope.cliente') }}"
                method="POST">
                <h1 class="col-12 col-lg-2 p-0">Clientes</h1>

                <input class="input-first col-12 col-lg-1 m-0 mb-2 m-md-3" id="cliente_id" name="cliente_id" type="text"
                    placeholder="Id Cliente" autocomplete="off">

                <input class="input-first col-12 col-lg-1 m-0 mb-2 m-md-3" id="cliente_identificacion"
                    name="cliente_identificacion" type="number" placeholder="Identificacion" autocomplete="off">

                <input class="input-first col-12 col-lg-1 m-0 mb-2 m-md-3" id="cliente_nombre" name="cliente_nombre"
                    type="text" placeholder="Nombre(s)" autocomplete="off">

                <input class="input-first col-12 col-lg-1 m-0 mb-2 m-md-3" id="cliente_ciudad" name="cliente_ciudad"
                    type="text" placeholder="Ciudad" autocomplete="off">

                <select class="input-first col-12 col-lg-1 m-0 mb-2 m-md-3" id="cliente_estado" name="cliente_estado">
                    <option value="" selected>Estado</option>
                    <option value="activo">Activo</option>
                    <option value="innactivo">Innactivo</option>
                </select>
                <button class="button-action-second col-12 col-lg-2 m-0 mb-2 m-md-3" type="submit">Filtra</button>
            </form>

            <button class="item_form button-action col-12 col-lg-2" onclick="redirectPague('cliente_create')">Nuevo
                Cliente</button>
        </div>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Id Cliente</th>
                        <th>Identificación</th>
                        <th>Nombre(s)</th>
                        <th>Ciudad</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% if list_cliente %}
                    {% for cliente in list_cliente %}
                    <tr>
                        <td>{{ cliente[0] }}</td>
                        <td>{{ cliente[1] }}</td>
                        <td>{{ cliente[2] }}</td>
                        <td>{{ cliente[3] }}</td>
                        <td>{{ cliente[4] }}</td>
                        <td>
                            <button class="btn_table" onclick="mostrarProducto('{{ cliente[0] }}')">
                                <img src="{{ url_for('static', filename='img/table_item_view.png') }}" width="25rem">
                            </button>
                            {% include 'usuario/cliente/cliente_view.html' %}
                            <button class="btn_table" onclick="redirect('cliente_update', '{{ cliente[0] }}')">
                                <img src="{{ url_for('static', filename='img/table_item_edit.png') }}" width="25rem">
                            </button>
                            <button class="btn_table" onclick="delete_modal('cliente_delete', '{{ cliente[0] }}')">
                                <img src="{{ url_for('static', filename='img/table_item_delete.png') }}" width="25rem">
                            </button>
                            {% include 'includes/modal_close.html' %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="6">
                            No hay clientes para mostrar
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <button class="item_form button-action col-12 col-lg-1 m-0" onclick="redirectPague('/usuarios')">Volver</button>
    </section>
</main>

{% block customScript %}
<script>
    function mostrarProducto(clienteId) {
        const modal = document.getElementById('infoModal');
        const span = document.getElementsByClassName('close')[0];

        fetch(`cliente_details/${clienteId}`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    document.getElementById('modal-subtitle').innerText = `${data.id} - ${data.nombre}`

                    document.getElementById('modal-clien-id').innerText = data.id;
                    document.getElementById('modal-clien-documento').innerText = data.documento;
                    document.getElementById('modal-clien-nombre').innerText = data.nombre;
                    document.getElementById('modal-clien-ciudad').innerText = data.ciudad;
                    document.getElementById('modal-clien-direccion').innerText = data.direccion;
                    document.getElementById('modal-clien-email').innerText = data.email;
                    document.getElementById('modal-clien-telefono').innerText = data.telefono;
                    document.getElementById('modal-clien-estado').innerText = data.estado;

                    modal.style.display = 'block'


                    span.onclick = function () {
                        modal.style.display = 'none'
                    }
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = 'none'
                        }
                    }
                }
            })
            .catch(error => {
                console.log('Error al obtener los detalles del producto:', error);
            })
    }
</script>
{% endblock %}
{% endblock %}