{% extends './layout.html' %}

{% block customCss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/producto.css') }}">
{% endblock %}

{% block main %}
<main class="main">
    <section class="section-productos">
        <h1>Nuevo cliente</h1>
        <form class="frm-productos" action="{{ url_for('cliente_scope.create_cliente') }}" method="post">

            <label class="lbl-descripcionProducto" for="cliente_identificacion">Identificacion</label>
            <input class="inp-descripcionProducto" id="cliente_identificacion" name="cliente_identificacion" type="text"
                required>

            <label class="lbl-descripcionProducto" for="cliente_nombre">Nombre(s)</label>
            <input class="inp-descripcionProducto" id="cliente_nombre" name="cliente_nombre" type="text" required>

            <label class="lbl-descripcionProducto" for="cliente_ciudad">Ciudad</label>
            <input class="inp-descripcionProducto" id="cliente_ciudad" name="cliente_ciudad" type="text" required>

            <label class="lbl-descripcionProducto" for="cliente_direccion">Direccion</label>
            <input class="inp-descripcionProducto" id="cliente_direccion" name="cliente_direccion" type="text" required>

            <label class="lbl-descripcionProducto" for="cliente_email">Correo electronico</label>
            <input class="inp-descripcionProducto" id="cliente_email" name="cliente_email" type="email" required>

            <label class="lbl-descripcionProducto" for="cliente_telefono">Numero de telefono</label>
            <input class="inp-descripcionProducto" id="cliente_telefono" name="cliente_telefono" type="number" required>

            <button class="btn proveedor-buttons_cargar" id="cliente_submit" type="submit">Crear</button>
        </form>
    </section>

    <div class="action-buttons">
        <a href=" {{ url_for('cliente_scope.cliente') }}" class="btn btn-primary">Volver</a>
    </div>
</main>

{% endblock %}