{% extends './layout.html' %}



{% block customCss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/producto.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/modals.css') }}">
{% endblock %}

{% block main %}


<main class="main">
    <section class="section-productos">
        <h1>Clientes</h1>
        <form class="frm-productos" action="{{ url_for('cliente_scope.cliente') }}" method="POST">
            <div class="section-froms">

                <label class="lbl-IDproducto" for="cliente_id">Id cliente</label>
                <input class="inp-IDproducto" id="cliente_id" name="cliente_id" type="text">

                <label class="lbl-IDproducto" for="cliente_identificacion">Identificacion</label>
                <input class="inp-IDproducto" id="cliente_identificacion" name="cliente_identificacion" type="text">

                <label class="lbl-IDproducto" for="cliente_nombre">Nombre(s)</label>
                <input class="inp-IDproducto" id="cliente_nombre" name="cliente_nombre" type="text">

                <label class="lbl-IDproducto" for="cliente_ciudad">Ciudad</label>
                <input class="inp-IDproducto" id="cliente_ciudad" name="cliente_ciudad" type="text">

                <label class="lbl-estadoProducto" for="cliente_estado">Estado</label>
                <select class="slc-estadoProducto" id="cliente_estado" name="cliente_estado">
                    <option value="" selected>No definido</option>
                    <option value="activo">Activo</option>
                    <option value="innactivo">Innactivo</option>
                </select>
            </div>

            <button type="submit" class="btn btn-producto btn-filtra">Filtra</button>
        </form>

        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Id cliente</th>
                        <th>Identificacion</th>
                        <th>Nombre(s)</th>
                        <th>Ciudad</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% if list_cliente %}
                    {% for cliente in list_cliente %}
                    <tr>
                        <td>{{ cliente[0] }}</td>
                        <td>{{ cliente[1] }}</td>
                        <td>{{ cliente[2] }}</td>
                        <td>{{ cliente[3] }}</td>
                        <td>{{ cliente[4] }}</td>
                        <td>
                            <button onclick="mostrarProducto('{{ cliente[0] }}')">Ver</button>
                            {% include 'usuario/cliente/cliente_view.html' %}
                            <button onclick="redirect('cliente_update', '{{ cliente[0] }}')">Editar</button>
                            <button onclick="delete_modal('cliente_delete', '{{ cliente[0] }}')">Eliminar</button>
                            {% include 'includes/modal_close.html' %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>
                            No hay usuarios para mostrar
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </section>

    <div class="footer">
        <form action="{{ url_for('cliente_scope.create_cliente') }}" method="get">
            <button type="submit" class="btn btn-primary">Crear</button>
        </form>
        <form action="{{ url_for('usuario_scope.usuario') }}" method="get">
            <button type="submit" class="btn btn-primary">Volver</button>
        </form>
    </div>
</main>

{% block customScript %}
<script>
    function mostrarProducto(clienteId) {
        const modal = document.getElementById('infoModal');
        const span = document.getElementsByClassName('close')[0];

        fetch(`cliente_details/${clienteId}`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    document.getElementById('title-cliente').innerText = `${data.id} - ${data.nombre}`

                    document.getElementById('modal-clien-id').innerText = data.id;
                    document.getElementById('modal-clien-documento').innerText = data.documento;
                    document.getElementById('modal-clien-nombre').innerText = data.nombre;
                    document.getElementById('modal-clien-ciudad').innerText = data.ciudad;
                    document.getElementById('modal-clien-direccion').innerText = data.direccion;
                    document.getElementById('modal-clien-email').innerText = data.email;
                    document.getElementById('modal-clien-telefono').innerText = data.telefono;
                    document.getElementById('modal-clien-estado').innerText = data.estado;

                    modal.style.display = 'block'


                    span.onclick = function () {
                        modal.style.display = 'none'
                    }
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = 'none'
                        }
                    }
                }
            })
            .catch(error => {
                console.log('Error al obtener los detalles del producto:', error);
            })
    }
</script>
{% endblock %}
{% endblock %}