{% extends './layout.html' %}

{% block blockTitle %}Clientes - Editar{% endblock %}

{% block main %}
<main class="p-1 p-md-3">
    <section class="section p-3">
        <div class="row slc-container">
            <h1>Editar Cliente - {{ cliente.clien_nombre }}</h1>
            <form class="col-12 d-block" action="{{ url_for('cliente_scope.update_cliente', id=cliente.clien_id) }}"
                method="post">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="cliente_identificacion">Identificación</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="cliente_identificacion"
                    name="cliente_identificacion" type="number" required required autocomplete="off"
                    value="{{ cliente.clien_documento }}">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="cliente_nombre">Nombre(s)</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="cliente_nombre" name="cliente_nombre"
                    type="text" required required autocomplete="off" value="{{ cliente.clien_nombre }}">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="cliente_ciudad">Ciudad</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="cliente_ciudad" name="cliente_ciudad"
                    type="text" required required autocomplete="off" value="{{ cliente.clien_ciudad }}">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="cliente_direccion">Dirección</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="cliente_direccion"
                    name="cliente_direccion" type="text" required value="{{ cliente.clien_direccion }}">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="cliente_email">Correo Electrónico</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="cliente_email" name="cliente_email"
                    type="email" required required autocomplete="off" value="{{ cliente.clien_email }}">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="cliente_telefono">Número de Telefono</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="cliente_telefono" name="cliente_telefono"
                    type="number" required required autocomplete="off" value="{{ cliente.clien_telefono }}">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="cliente_estado">Estado</label>
                <select class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="cliente_estado" name="cliente_estado"
                    required required autocomplete="off">
                    <option {% if cliente.clien_estado=='activo' %} selected {% endif %} value="activo">Activo</option>
                    <option {% if cliente.clien_estado=='innactivo' %} selected {% endif %} value="innactivo">Innactivo
                    </option>
                </select>

                <div class="row justify-content-between">
                    <button class="col-5 col-md-2 button-action-second" type="button"
                        onclick="redirectPague('/cliente')">Volver</button>
                    <button class="col-5 col-md-2 button-action" type="submit">Editar</button>
                </div>
            </form>
        </div>
    </section>
</main>

{% endblock %}