{% extends './layout.html' %}

{% block blockTitle %}Proveedores{% endblock %}

{% block main %}

<main class="p-1 p-md-3">
    <section class="section p-3">
        <div class="row slc-container">
            <form class="frm-search row col-12 col-lg-10 p-0" action="{{ url_for('proveedor_scope.proveedor') }}"
                method="POST">
                <h1 class="col-12 col-lg-2 p-0">Proveedor</h1>

                <input class="input-first col-12 col-lg-1 m-0 mb-2 m-md-3" id="proveedor_id" name="proveedor_id"
                    type="number" placeholder="Id Proveedor" autocomplete="off">

                <input class="input-first col-12 col-lg-2 m-0 mb-2 m-md-3" id="proveedor_nit" name="proveedor_nit"
                    type="text" placeholder="NIT" autocomplete="off">

                <input class="input-first col-12 col-lg-2 m-0 mb-2 m-md-3" id="proveedor_razonSocial"
                    name="proveedor_razonSocial" type="text" placeholder="Razon Social" autocomplete="off">

                <select class="input-first col-12 col-lg-1 m-0 mb-2 m-md-3" id="proveedor_estado"
                    name="proveedor_estado">
                    <option value="" selected>Estado</option>
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                </select>

                <button class="button-action-second col-12 col-lg-2 m-0 mb-2 m-md-3" type="submit">Filtra</button>
            </form>
            <button class="item_form button-action col-12 col-lg-2" onclick="redirectPague('proveedor_create')">Nuevo
                Proveedor</button>
        </div>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Id Proveedor</th>
                        <th>NIT</th>
                        <th>Razon Social</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if list_proveedor %}
                    {% for proveedor in list_proveedor %}
                    <tr>
                        <td>{{ proveedor[0] }}</td>
                        <td>{{ proveedor[1] }}</td>
                        <td>{{ proveedor[2] }}</td>
                        <td>{{ proveedor[3] }}</td>
                        <td>
                            <button class="btn_table" onclick="mostrarProducto('{{ proveedor[0] }}')">
                                <img src="{{ url_for('static', filename='img/table_item_view.png') }}" width="25rem">
                            </button>
                            {% include 'usuario/proveedor/proveedor_view.html' %}
                            <button class="btn_table" onclick="redirect('proveedor_update', '{{ proveedor[0] }}')">
                                <img src="{{ url_for('static', filename='img/table_item_edit.png') }}" width="25rem">
                            </button>
                            <button class="btn_table" onclick="delete_modal('proveedor_delete', '{{ proveedor[0] }}')">
                                <img src="{{ url_for('static', filename='img/table_item_delete.png') }}" width="25rem">
                            </button>
                            {% include 'includes/modal_close.html' %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5">
                            No hay usuarios para mostrar
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <button class="item_form button-action col-12 col-lg-1 m-0" onclick="redirectPague('/usuarios')">Volver</button>
    </section>
</main>



{% block customScript %}
<script>
    function mostrarProducto(proveedorId) {
        const modal = document.getElementById('infoModal');
        const span = document.getElementsByClassName('close')[0];

        fetch(`proveedor_details/${proveedorId}`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    document.getElementById('modal-subtitle').innerText = `${data.id} - ${data.razon_social}`

                    document.getElementById('modal-prov-id').innerText = data.id;
                    document.getElementById('modal-prov-nit').innerText = data.nit;
                    document.getElementById('modal-prov-razonSocial').innerText = data.razon_social;
                    document.getElementById('modal-prov-email').innerText = data.email;
                    document.getElementById('modal-prov-telefono').innerText = data.telefono;
                    document.getElementById('modal-prov-estado').innerText = data.estado;

                    modal.style.display = 'block'


                    span.onclick = function () {
                        modal.style.display = 'none'
                    }
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = 'none'
                        }
                    }
                }
            })
            .catch(error => {
                console.log('Error al obtener los detalles del producto:', error);
            })
    }
</script>
{% endblock %}
{% endblock %}