{% extends './layout.html' %}

{% block customCss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/producto.css') }}">
{% endblock %}

{% block main %}
<main class="main">
    <section class="section-productos">
        <h1>Nuevo proveedor</h1>
        <form class="frm-productos" action="{{ url_for('proveedor_scope.create') }}" method="post">

            <label class="lbl-descripcionProducto" for="proveedor_nit">NIT</label>
            <input class="inp-descripcionProducto" id="proveedor_nit" name="proveedor_nit" type="text" required>

            <label class="lbl-descripcionProducto" for="proveedor_razonSocial">Razon social</label>
            <input class="inp-descripcionProducto" id="proveedor_razonSocial" name="proveedor_razonSocial" type="text"
                required>

            <label class="lbl-descripcionProducto" for="proveedor_email">Correo electronico</label>
            <input class="inp-descripcionProducto" id="proveedor_email" name="proveedor_email" type="email" required>

            <label class="lbl-descripcionProducto" for="proveedor_telefono">Numero de telefono</label>
            <input class="inp-descripcionProducto" id="proveedor_telefono" name="proveedor_telefono" type="number"
                required>

            <button class="btn proveedor-buttons_cargar" id="operador_submit" type="submit">Crear</button>
        </form>
    </section>
</main>
<footer class="footer">
    <div class="action-buttons">
        <a href=" {{ url_for('proveedor_scope.proveedor') }}" class="btn btn-primary">Volver</a>
    </div>
</footer>

{% endblock %}