{% extends './layout.html' %}

{% block blockTitle %}Proveedores - Editar{% endblock %}

{% block customCss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/producto.css') }}">
{% endblock %}

{% block main %}
<main class="p-1 p-md-3">
    <section class="section p-3">
        <div class="row slc-container"></div>
        <h1>Editar Proovedor - ({{ proveedor.prov_id }}) {{ proveedor.prov_razonsocial }}</h1>
        <form class="col-12 d-block" action="{{ url_for('proveedor_scope.update_proveedor', id=proveedor.prov_id) }}"
            method="post">

            <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="proveedor_nit">NIT</label>
            <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="proveedor_nit" name="proveedor_nit" type="text"
                value="{{ proveedor.prov_nit }}" required required autocomplete="off">

            <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="proveedor_razonSocial">Razón Social</label>
            <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="proveedor_razonSocial" name="proveedor_razonSocial" type="text"
                value="{{ proveedor.prov_razonsocial }}" required required autocomplete="off">

            <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="proveedor_email">Correo Electrónico</label>
            <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="proveedor_email" name="proveedor_email" type="email"
                value="{{ proveedor.prov_email }}" required required autocomplete="off">

            <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="proveedor_telefono">Número de Teléfono</label>
            <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="proveedor_telefono" name="proveedor_telefono" type="number"
                value="{{ proveedor.prov_telefono }}" required required autocomplete="off">

            <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="proovedor_estado">Estado</label>
            <select class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="proovedor_estado" name="proovedor_estado" required>
                <option {% if proveedor.prov_estado=='activo' %} selected {% endif %} value="activo">Activo</option>
                <option {% if proveedor.prov_estado=='inactivo' %} selected {% endif %} value="inactivo">Inactivo
                </option>
            </select>

            <div class="row justify-content-between">
                <button class="col-5 col-md-2 button-action-second" type="button"
                    onclick="redirectPague('/proveedor')">Volver</button>
                <button class="col-5 col-md-2 button-action" type="submit">Editar</button>
            </div>
        </form>
    </section>
</main>

{% endblock %}