{% extends './layout.html' %}

{% block customCss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/producto.css') }}">
{% endblock %}

{% block main %}
<main class="main">
    <section class="section-productos">
        <h1>Editar proovedor ({{ proveedor.prov_id }}) {{ proveedor.prov_razonsocial }}</h1>
        <form class="frm-productos" action="{{ url_for('proveedor_scope.update_proveedor', id=proveedor.prov_id) }}"
            method="post">

            <label class="lbl-descripcionProducto" for="proveedor_nit">NIT</label>
            <input class="inp-descripcionProducto" id="proveedor_nit" name="proveedor_nit" type="text"
                value="{{ proveedor.prov_nit }}" required>

            <label class="lbl-descripcionProducto" for="proveedor_razonSocial">Razon social</label>
            <input class="inp-descripcionProducto" id="proveedor_razonSocial" name="proveedor_razonSocial" type="text"
                value="{{ proveedor.prov_razonsocial }}" required>

            <label class="lbl-descripcionProducto" for="proveedor_email">Correo electronico</label>
            <input class="inp-descripcionProducto" id="proveedor_email" name="proveedor_email" type="email"
                value="{{ proveedor.prov_email }}" required>

            <label class="lbl-descripcionProducto" for="proveedor_telefono">Numero de telefono</label>
            <input class="inp-descripcionProducto" id="proveedor_telefono" name="proveedor_telefono" type="number"
                value="{{ proveedor.prov_telefono }}" required>

            <label class="lbl-categoria" for="proovedor_estado">Estado</label>
            <select class="slc-categoria" id="proovedor_estado" name="proovedor_estado" required>
                <option {% if proveedor.prov_estado=='activo' %} selected {% endif %} value="activo">Activo</option>
                <option {% if proveedor.prov_estado=='inactivo' %} selected {% endif %} value="inactivo">Inactivo
                </option>
            </select>

            <button class="btn proveedor-buttons_cargar" id="operador_submit" type="submit">Editar</button>
        </form>
    </section>

    <div class="action-buttons">
        <a href=" {{ url_for('proveedor_scope.proveedor') }}" class="btn btn-primary">Volver</a>
    </div>
</main>


{% endblock %}