<div id="genericModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="infoModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modal-title">Detalles de producto</h2>
        <h2 id="title-proveedor"></h2>
        <div id="modal-body">
            <ul>
                <li>
                    <strong>Id proveedor:</strong> <span id="modal-prov-id"></span>
                </li>
                <li>
                    <strong>NIT:</strong> <span id="modal-prov-nit"></span>
                </li>
                <li>
                    <strong>Razon social:</strong> <span id="modal-prov-razonSocial"></span>
                </li>
                <li>
                    <strong>Correo electronico:</strong> <span id="modal-prov-email"></span>
                </li>
                <li>
                    <strong>Numero de telefono:</strong> <span id="modal-prov-telefono"></span>
                </li>
                <li>
                    <strong>Estado:</strong> <span id="modal-prov-estado"></span>
                </li>
            </ul>
        </div>
    </div>
</div>