<div id="genericModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="infoModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modal-title">Detalles de factura</h2>
        <h2 id="modal-subtitle"></h2>
        <div id="modal-body">
            <ul>
                <li>
                    <strong>Id de factura:</strong> <span id="modal-fact-id"></span>
                </li>
                <li>
                    <strong>Id del cliente:</strong> <span id="modal-fact-clienteId"></span>
                </li>
                <li>
                    <strong>Cliente:</strong> <span id="modal-fact-cliente"></span>
                </li>
                <li>
                    <strong>Fecha de emision:</strong> <span id="modal-fact-fecha"></span>
                </li>
            </ul>

            <h1>Tabla de Productos</h1>
            <div class="table-wrapper">
                <table id="productos-table" border="1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Unidad</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>