<div id="genericModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="infoModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modal-title">Detalles de usuario</h2>
        <h2 id="modal-subtitle"></h2>
        <div id="modal-body">
            <ul>
                <li>
                    <strong>Identificacion:</strong> <span id="modal-opera-id"></span>
                </li>
                <li>
                    <strong>Nombre(s):</strong> <span id="modal-opera-nombre"></span>
                </li>
                <li>
                    <strong>Apellido(s):</strong> <span id="modal-opera-apellido"></span>
                </li>
                <li>
                    <strong>Correo electronico:</strong> <span id="modal-opera-email"></span>
                </li>
                <li>
                    <strong>Telefono:</strong> <span id="modal-opera-telefono"></span>
                </li>
                <li>
                    <strong>Rol:</strong> <span id="modal-opera-rol"></span>
                </li>
                <li>
                    <strong>Estado:</strong> <span id="modal-opera-estado"></span>
                </li>
            </ul>
        </div>
    </div>
</div>