{% extends './layout.html' %}

{% block blockTitle %}Operadores - Crear{% endblock %}

{% block main %}
<main class="p-1 p-md-3">
    <section class="section p-3">
        <div class="row slc-container">
            <h1>Nuevo Operador</h1>
            <form class="col-12 d-block" action="{{ url_for('operador_scope.create_operador') }}" method="post">
                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="operador_identificacion">Identificación</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="operador_identificacion" name="operador_identificacion"
                    type="number" required autocomplete="off">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="operador_nombre">Nombre(s)</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="operador_nombre" name="operador_nombre" type="text" required autocomplete="off">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="operador_apellido">Apellido(s)</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="operador_apellido" name="operador_apellido" type="text"
                    required autocomplete="off">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="operador_contrasenha">Contraseña</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="operador_contrasenha" name="operador_contrasenha" type="text"
                    required autocomplete="off">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="operador_confirma_contrasenha">Confirma la
                    Contraseña</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="operador_confirma_contrasenha"
                    name="operador_confirma_contrasenha" type="text" required autocomplete="off">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="operador_email">Correo Electrónico</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="operador_email" name="operador_email" type="email" required autocomplete="off">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="operador_telefono">Número de Teléfono</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="operador_telefono" name="operador_telefono" type="number"
                    required autocomplete="off">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="operador_rol">Rol</label>
                <select class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="operador_rol" name="operador_rol" required>
                    <option value="1">Administrador</option>
                    <option value="2">Usuario</option>
                </select>

                <p id="mensaje"></p>

                <div class="row justify-content-between">
                    <button class="col-5 col-md-2 button-action-second" type="button"
                        onclick="redirectPague('/operador')">Volver</button>
                    <button class="col-5 col-md-2 button-action" id="operador_submit" type="submit">Crear</button>
                </div>
            </form>
        </div>

    </section>
</main>

{% block customScript %}
<script>
    var passwordInput = document.getElementById("operador_contrasenha");
    var confirmPasswordInput = document.getElementById("operador_confirma_contrasenha");
    var submitButton = document.getElementById("operador_submit");
    var mensaje = document.getElementById("mensaje");

    function validarContraseñas() {
        var password = passwordInput.value;
        var confirmPassword = confirmPasswordInput.value;

        if (password === confirmPassword) {
            mensaje.innerHTML = "";
            submitButton.disabled = false; // Habilitar el botón de envío
        } else {
            mensaje.innerHTML = "Las contraseñas no coinciden.";
            submitButton.disabled = true; // Deshabilitar el botón de envío
        }
    }

    passwordInput.addEventListener("input", validarContraseñas);
    confirmPasswordInput.addEventListener("input", validarContraseñas);

</script>
{% endblock %}
{% endblock %}