{% extends './layout.html' %}

{% block blockTitle %}Operadores - Editar{% endblock %}

{% block main %}
<main class="p-1 p-md-3">
    <section class="section p-3">
        <div class="row slc-container">
            <h1>Cambio de Contraseña - ({{ operador.user_id }}) {{ operador.user_nombre }} {{ operador.user_apellido }}
            </h1>
            <form class="col-12 d-block"
                action="{{ url_for('operador_scope.update_password_operador', id=operador.user_id) }}" method="post">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="operador_contrasenha">Nueva Contraseña</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="operador_contrasenha" name="operador_contrasenha" type="text"
                    required required autocomplete="off">

                <label class="col-12 col-md-4 m-0 mb-2 m-md-3" for="operador_confirma_contrasenha">Confirma Nueva
                    Contraseña</label>
                <input class="input-first col-12 col-md-4 m-0 mb-2 m-md-3" id="operador_confirma_contrasenha"
                    name="operador_confirma_contrasenha" type="text" required required autocomplete="off">

                <p id="mensaje"></p>

                <div class="row justify-content-between">
                    <button class="col-5 col-md-2 button-action-second" type="button"
                        onclick="redirectPague('/operador')">Volver</button>
                    <button class="col-5 col-md-2 button-action" id="operador_submit" type="submit">Editar</button>
                </div>
            </form>
        </div>
    </section>
</main>

{% block customScript %}
<script>
    var passwordInput = document.getElementById("operador_contrasenha");
    var confirmPasswordInput = document.getElementById("operador_confirma_contrasenha");
    var submitButton = document.getElementById("operador_submit");
    var mensaje = document.getElementById("mensaje");

    function validarContraseñas() {
        var password = passwordInput.value;
        var confirmPassword = confirmPasswordInput.value;

        if (password === confirmPassword) {
            mensaje.innerHTML = "";
            submitButton.disabled = false;
        } else {
            mensaje.innerHTML = "Las contraseñas no coinciden.";
            submitButton.disabled = true;
        }
    }

    passwordInput.addEventListener("input", validarContraseñas);
    confirmPasswordInput.addEventListener("input", validarContraseñas);

</script>
{% endblock %}
{% endblock %}