{% extends './layout.html' %}

{% block blockTitle %}Operadores{% endblock %}

{% block main %}

<main class="p-1 p-md-3">
    <section class="section p-3">
        <div class="row slc-container">
            <form class="frm-search row col-12 col-lg-10 p-0" action="{{ url_for('operador_scope.operador') }}"
                method="POST">
                <h1 class="col-12 col-lg-2 p-0">Operadores</h1>

                <input class="input-first col-12 col-lg-2 m-0 mb-2 m-md-3" id="operador_nombre" name="operador_nombre"
                    type="text" placeholder="Nombre" autocomplete="off">

                <input class="input-first col-12 col-lg-2 m-0 mb-2 m-md-3" id="operador_identificacion"
                    name="operador_identificacion" placeholder="Identificación" type="number" autocomplete="off">

                <select class="input-first col-12 col-lg-1 m-0 mb-2 m-md-3" id="operador_rol" name="operador_rol">
                    <option value="" selected>Rol</option>
                    <option value="1">Administrador</option>
                    <option value="2">Usuario</option>
                </select>

                <select class="input-first col-12 col-lg-1 m-0 mb-2 m-md-3" id="operador_estado" name="operador_estado">
                    <option value="" selected>Estado</option>
                    <option value="activo">Activo</option>
                    <option value="innactivo">Innactivo</option>
                </select>
                <button class="button-action-second col-12 col-lg-2 m-0 mb-2 m-md-3" type="submit">Filtra</button>
            </form>

            <button class="item_form button-action col-12 col-lg-2" onclick="redirectPague('operador_create')">Nuevo Usuario</button>
        </div>


        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% if list_operadores %}
                    {% for operador in list_operadores %}
                    {% if operador[0] == 123 %}
                    <tr>
                        <td>{{ operador[0] }}</td>
                        <td>{{ operador[1] }}</td>
                        <td>{{ operador[2] }}</td>
                        <td>{{ operador[3] }}</td>
                        <td>{{ operador[4] }}</td>
                        <td>
                            <button class="btn_table" onclick="mostrarProducto('{{ operador[0] }}')">
                                <img src="{{ url_for('static', filename='img/table_item_view.png') }}" width="25rem">
                            </button>
                            {% include 'usuario/operador/operador_view.html' %}
                        </td>
                    </tr>
                    
                    {% else %}
                    <tr>
                        <td>{{ operador[0] }}</td>
                        <td>{{ operador[1] }}</td>
                        <td>{{ operador[2] }}</td>
                        <td>{{ operador[3] }}</td>
                        <td>{{ operador[4] }}</td>
                        <td>
                            <button class="btn_table" onclick="mostrarProducto('{{ operador[0] }}')">
                                <img src="{{ url_for('static', filename='img/table_item_view.png') }}" width="25rem">
                            </button>
                            {% include 'usuario/operador/operador_view.html' %}
                            <button class="btn_table" onclick="redirect('operador_update', '{{ operador[0] }}')">
                                <img src="{{ url_for('static', filename='img/table_item_edit.png') }}" width="25rem">
                            </button>
                            <button class="btn_table" onclick="delete_modal('operador_delete', '{{ operador[0] }}')">
                                <img src="{{ url_for('static', filename='img/table_item_delete.png') }}" width="25rem">
                            </button>
                            {% include 'includes/modal_close.html' %}
                            <button class="btn_table" onclick="redirect('operador_password', '{{ operador[0] }}')">
                                <img src="{{ url_for('static', filename='img/table_item_password.png') }}" width="25rem">
                            </button>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="6">
                            No hay usuarios para mostrar
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <button class="item_form button-action col-12 col-lg-1 m-0" onclick="redirectPague('/usuarios')">Volver</button>
    </section>
</main>



{% block customScript %}
<script>
    function mostrarProducto(operadorId) {
        const modal = document.getElementById('infoModal');
        const span = document.getElementsByClassName('close')[0];

        fetch(`operador_details/${operadorId}`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    document.getElementById('modal-subtitle').innerText = `${data.nombre} ${data.apellido}`

                    document.getElementById('modal-opera-id').innerText = data.id;
                    document.getElementById('modal-opera-nombre').innerText = data.nombre;
                    document.getElementById('modal-opera-apellido').innerText = data.apellido;
                    document.getElementById('modal-opera-email').innerText = data.email;
                    document.getElementById('modal-opera-telefono').innerText = data.telefono;
                    document.getElementById('modal-opera-rol').innerText = data.rol;
                    document.getElementById('modal-opera-estado').innerText = data.estado;

                    modal.style.display = 'block'


                    span.onclick = function () {
                        modal.style.display = 'none'
                    }
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = 'none'
                        }
                    }
                }
            })
            .catch(error => {
                console.log('Error al obtener los detalles del usuario:', error);
            })
    }
</script>
{% endblock %}


{% endblock %}