{% extends 'layout.html' %}

{% block blockTitle %}Entrada{% endblock %}

{% block main %}
<main class="p-1 p-md-3">
    <section class="section p-3">
        <div class="row slc-container">
            <form class="frm-search row col-12 p-0" action="{{ url_for('entrada_scope.entrada') }}" method="POST">

                <!-- datos de facturacion  -->
                <div class="col-12 row m-0 p-0 align-items-center">
                    <h1 class="col-12 col-md-3 p-0">Datos de Factura</h1>
                    <input class="input-first col-12 col-md-3 m-0 mb-2 m-md-3" id="proveedor_id" name="proveedor_id"
                        type="number" value="{{ proveedor_id }}" required placeholder="Id Proveedor" autocomplete="off">

                    <input class="input-first col-12 col-md-3 m-0 mb-2 m-md-3" id="factura_id" name="factura_id"
                        type="number" value="{{ factura_id }}" required placeholder="Id Factura" autocomplete="off">
                </div>

                <!-- datos de producto  -->
                <div class="col-12 row m-0 p-0 align-items-center">
                    <h1 class="col-12 col-md-3 p-0">Productos</h1>
                    <select class="input-first col-12 col-md-3 m-0 mb-2 m-md-3" name="producto_id" id="producto_id">
                        <option value="" selected>Selecione un producto</option>
                        {% if list_productos %}
                        {% for producto in list_productos%}
                        <option value="{{ producto[0] }}">{{ producto[0] }} - {{ producto[1] }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>

                    <input class="input-first col-12 col-md-3 m-0 mb-2 m-md-3" id="producto_cantidad"
                        name="producto_cantidad" type="number" required placeholder="Cantidad" autocomplete="off">

                    <button class="button-action col-12 col-md-2" type="submit">Cargar</button>
                </div>
            </form>
        </div>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Id Producto</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% if dic_productos %}
                    {% for key, producto in dic_productos.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ producto[0] }}</td>
                        <td>{{ producto[1] }} {{ producto[2] }}</td>
                        <td>
                            <form action="{{ url_for('entrada_scope.delete_entrada', id=key) }}"
                                method="POST">
                                <button class="btn_table" type="submit">
                                    <img src="{{ url_for('static', filename='img/table_item_delete.png') }}" width="25rem">
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="row slc-container justify-content-between">
            <button class="col-5 col-md-2 button-action-second" type="button"
                onclick="redirectPague('entrada_clear')">Descartar</button>
            <button class="col-5 col-md-2 button-action" type="button" onclick="redirectPague('entrada_send')">Enviar</button>
        </div>
    </section>
</main>

{% block customScript %}
{% endblock %}

{% endblock %}