<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block blockTitle %}{% endblock %}</title>

    {% include 'includes/styles.html' %}

</head>

<body>
    {% include 'includes/header.html' %}

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
        <p class="flash-message {{ category }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block main %}

    {% endblock %}

    {% include 'includes/scripts.html' %}

    {% block customScript %}

    {% endblock %}
</body>

</html>